{% extends 'base.html.twig' %}

{% block title %}Projet {{ project.id }}{% endblock %}

{% block body %}
    <a href="{{ path('app_register') }}"> Register </a> <br>
    <a href="{{ path('app_login') }}"> Login </a> <br>
    <a href="{{ path('admin') }}"> Admin </a> <br>

    <h1>Mon projet n°{{ project.id }}</h1>
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <small>crée le {{ project.startDate | date('d/m/Y') }}</small> <br>
    <small>terminé le {{ project.endedAt | date('d/m/Y') }}</small>

{% endblock %}
